       body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html{
            scroll-behavior: smooth;
        }

        a{
            color: white;
            text-decoration: none;
        }

        .entry-loader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #333;
            z-index: 4;
            transition: opacity 1s, visibility .90s, z-index .90s;
        }
        
        .entry-loader--hidden {
            opacity: 0;
            visibility: hidden;
            z-index: 0;
        }
        
        .entry-loader::after {
            content: "";
            width: 120px;
            height: 120px;
            border: 5px solid #dddddd;
            border-radius: 25%;
            animation: loading 1.25s ease infinite;
            background-image: linear-gradient(60deg, rgba(34, 193, 195, 1) 0%, rgb(87, 253, 45) 100%);
        }
        
        
        @keyframes loading {
            0% {
                transform: scale(1) rotate(0turn);
                opacity: 0.5;
            }
            33% {
                transform: scale(1.1) rotate(0.25turn);
                opacity: 0.7;
            }
            66% {
                transform: scale(1.2) rotate(0.5turn);
                opacity: 1;
            }
            100% {
                transform: scale(1) rotate(1turn);
                opacity: 0.5;
            }
        }
        
        #navbar {
            display: flex;
            align-items: center;
            background-color: linear-gradient(90deg, rgb(25, 25, 25) 25% ,rgb(7, 7, 7) 70%);
            justify-content: space-between;
            height: 75px;
            position: fixed;
            width: 100%;
            box-shadow: 0 3px 25px rgba(0, 0, 0, 0.546); 
            opacity: 99%;
            transition: background-color 0.4s ease-in-out;
            z-index: 3 ;
        }

        #navbar.scrolled {
            background-color: black;
        }

        .company-name{
            padding-left: 5%;
            cursor: pointer;
        }

        .hammy {
            cursor: pointer;
            display: block;
            padding-right: 5%;
        }

        .bar {
            width: 35px;
            height: 6px;
            background-color: #fff; 
            margin: 6px 0;
        }

        .company-name a, .links a{
            padding: 25px 0; 
            text-decoration: none;
            color: #fff;
            font-size: 1.25em;
        }

        #navbar a:hover {
            background-color: #ddd;
            color: black;
        }

        @media screen and (min-width: 0px) {
            .links {
                display: none; 
                flex-direction: column; 
                text-align: center;
                width: 100%;
                position: absolute;
                top: 65px;
                left: 0;
                background-color: #333;
                z-index: 1;
                opacity: 99%;
            }
        }

        .container {
            width: 100vw;
            min-width: 100vw;
            height: fit-content;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        }

        .overlay {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 750px;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: rgb(34, 193, 195);
            border-bottom: 1px solid black;
            background: linear-gradient(60deg, rgba(34, 193, 195, 1) 0%, rgb(87, 253, 45) 100%);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        }

        .overlay h1{
            letter-spacing: 5px;
            font-size: 220%;
            width: 40%;
        }
        .overlay h3{
            width: 80%;
            word-spacing: 10px;
            height: fit-content;
            font-size: 110%;
        }

        .introcompany{
            width: 70%;
            height: fit-content;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: 10%;
            margin-right:10%;
            padding-left: 5%;
            padding-right: 5%;
            margin-top:5%;
            border: 2.5px solid black;
            padding-bottom: 2.5%;
            background: rgb(34, 193, 195);
            background: linear-gradient(60deg, rgba(34, 193, 195, 1) 0%, rgb(87, 253, 45) 100%);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        }

        .skip-to-content{
            margin-top: 2.5%;
            width: 180px;
            height: 50px;
            background-color: transparent;
            border-radius: 13px;
            align-items: center;
            justify-content: center;
            border:1px solid white;
        }

        .skip-to-content:hover{
            border:1px solid black;
        }

        .skip-to-content a:hover{
            color: black;
        }

        .form {
            margin-bottom: 10%;
            width: 100%;
            height: max-content;
            padding-bottom: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 13px;
            background-color: rgb(242, 238, 238);
            border:1px solid rgb(84, 84, 84);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        }

        form{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
        }
        
        #logoForm label {
            font-size: 18px;

        }
        
        #logoForm input[type="text"],
        #logoForm select {
            width: 100%;
            height: 55px;

            border-radius: 5px;
            box-sizing: border-box;
            border: 1px solid rgb(76, 76, 76);
        }
        
         button {
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
            width: 85%;
            height: 60px;
            margin-left: 7.5%;
            margin-right: 7.5%;
            border: none;
            font-size: 16px;
            margin-top: 5%;
        }
        

        #companyName,
        #tagline,
        #style,
        #industry-genre,
        #company-color,
        #aspect-ratio {
            width: 300px;
            height: 40px;
        }

        .form-section {
            width: 43%;
            margin-left: 3.5%;
            margin-right: 3.5%;
            margin-top: 2.5%;

        }

        .form-generator-row {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            height: fit-content;
            justify-content: center;
            align-content: center;
            margin-top: 50px;
        }

        #generatedImage {
            width: 90%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: auto;
            background-color: rgb(212, 212, 212);
            border-radius: 13px;
            justify-content: space-between;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 2.5%;
        }
        #generatedImage img {
            max-width: 40%;
            height: auto;
            border-radius: 5px;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 2.5%; 
            margin-bottom: 2.5%;
        }

        button:hover {
            background-color: #45a049;
        }

        .contact-row{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            height: fit-content;
            justify-content: center;
        }

        .contact-card{
            background-color: #969696;
            width: 400px;
            height: max-content;
            padding-bottom: 10px;
            margin: 2%;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            border-radius: 13px;
            overflow: hidden;
        }

        .position{
            width: 100%;
            height: 200px;
            background: rgb(34, 193, 195);
            background: linear-gradient(60deg, rgba(34, 193, 195, 1) 0%, rgb(87, 253, 45) 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        .contact-info{
            font-size: 20px;
            width: 100%;
            height: fit-content;
            color: white;
            background-color: #333;

        }

        .contact-info p:hover, .contact-info a:hover{
            color: #00e500;
            font-size: 22px;
        }


        footer {
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg, rgb(25, 25, 25) 25% ,rgb(7, 7, 7) 70%);
            color: white;
            text-align: center;
            margin-top: 100px;
            padding: 10px 0;
            width: 100%;
            height: 275px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .footer-links {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            padding-top: 60px;
        }

        .footer-links a {
            padding: 0 10px;
            text-decoration: none;
            color: white;
            font-size: 1em;
        }

        .footer-links a:hover {
            background-color: #ddd;
            color: black;
        }

        .con{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: fit-content;
            margin-top: -2.5%;
           }
        
           .box{
            width: 70%;
           }