.trail {
    margin-top: 5%;
    width: 100%; /* Adjusted to occupy the full width of the viewport */
    max-width: 370px; /* Limiting maximum width to 370px */
}

.path {
    width: 375px;
    height: 100%;
}

.dash {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
    stroke-dasharray: 6 4;
    animation: dashAnimation 45s linear infinite;
}

@keyframes dashAnimation {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -400;
    }
}
