<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logo Genie Helper - Gallery</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="entry-loader"></div>
    <div id="navbar">
        <div class="googlelink">
            <a href='/{{data}}'>
                <button class="loginbutton {% if data == 'logout' %}logged-in{% endif %}">
                    <div class="body">
                        <div class="head"></div>
                        <div class="lbody"></div>
                    </div>
                </button>
            </a>
        </div>
        <div class="company-name">
            <a href="#top-page">Logo Genie Helper</a>
        </div>
        <!--{{user }}-->
    <!--check here-->
        <div class="links">
            <a href="/">Generate Logo</a>
            <a href="/faq">FAQ</a>
            <a href="/contact">Contact</a>
            {% if data == "logout" %}
                <a href="/gallery">Gallery</a>
            {% endif %}
            <a href="/about">About</a>
        </div>
        <div class="hammy" onclick="dropdownmenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    <div class="container" id="top-page">
        <div class="overlay">
            <h1>Welcome to Our Gallery</h1>
            <div class="skip-to-content"><p><a href="#content">Skip to Content</a></p></div>
        </div>
        <div style="text-align: center;" id="content">
            <h2>Explore Our Creations</h2>
            <div class="carousel">
                {% if image_urls %}
                    {% set ns = namespace(c = 0) %}
                    <div class="image-container">
                        {% for url in image_urls %}
                            {% if user_id in url %}
                                {% set ns.c = ns.c + 1 %}
                                <img src="{{ url }}" alt="Image" class="img-hover">
                            {% endif %}
                        {% endfor %}
                        {% if ns.c <= 0 %}
                            {% for _ in range(10) %}
                                <div class="img-item">
                                    <img src="/static/images/placeholder.svg" alt="no images in bucket" class="img-hover">
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% else %}
                    <div class="image-container">
                        {% for _ in range(10) %}
                            <div class="img-item">
                                <img src="/static/images/placeholder.svg" alt="no images in bucket" class="img-hover">
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>          
        </div>
        <div class="faq-container" style="margin-top: 5%;">
            <div class="faq">
                <div class="question" id="q1">
                    <h2>How Can You Save Your Images?</h2>
                </div>
                <div class="answer" id="a1">
                    <h3>On mobile you can save your images by press and holding to click on save image option</h3>
                    <h3>On Laptop and Desktop devices, you can save your images by right clicking on the image to click on save image option</h3>
                </div>
            </div>
        </div>   
    </div> 
    <footer>
        <div class="footer-links">
            <a href="/">Generate Logo</a>
            <a href="/faq">FAQ</a>
            <a href="/contact">Contact</a>
            {% if data == "logout" %}
            <a href="/gallery">Gallery</a>
            {% endif %}
            <a href="/about">About</a>
        </div>
        <p>&copy; 2024 Logo Genie Helper. All rights reserved.</p>
    </footer>
    <script src="/static/entryloader.js"></script>
    <script src="/static/dropdown.js"></script>
    <script src="/static/faqdropdown.js"></script>
</body>
</html>